.aboutMe {
  @include blackBox;
  &__inside {
    background-color: $black;
    height: 500px;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    .content {
      @include boxing;
      width: 100%;
      margin-top: 2rem;
      color: white;
      font-size: 2rem;
      line-height: 150%;
      span {
        color: $white;
        text-decoration: underline;
        text-decoration-color: #013571;
        position: relative;
        display: inline-block;
        margin-right: 3.2rem;
        &::after {
          display: block;
          position: absolute;
          content: "";
          background-image: url("../images/PK-logo.png");
          background-size: contain;
          aspect-ratio: 1;
          height: calc(100% - 2px);
          left: 100%;
          bottom: 0;
        }
      }
      .awwwards {
        display: inline-block;
        height: 1.8rem;
      }
    }
  }
}
