@import "./mixins.scss";

.aboutMe {
  font-family: "League Spartan";
  font-weight: bold;
  position: relative;
  h1 {
    position: relative;
    font-size: 6rem;
    @include m {
      font-size: 8rem;
    }
    @include l {
      font-size: 10rem;
    }
    .bryja {
      cursor: pointer;
      // text-decoration: underline;
      display: inline-block;
      position: relative;
      user-select: none;
      --opacity: 1;
      &:after {
        position: absolute;
        display: block;
        content: "click my name for contact!";
        right: 0;
        bottom: -1rem;
        opacity: var(--opacity);
        transition: opacity 0.5s linear;
        font-size: 0.8rem;
        @include m {
          bottom: 1rem;
        }
      }
    }

    //  .popUp {
    //    bottom: 20px;
    //    left: 10px;
    //    @include m {
    //      top: 0%;
    //      left: 100%;
    //    }
    //  }
  }

  h2 {
    font-size: 3rem;
    line-height: 100%;
    margin-top: 2rem;
    color: rgb(45, 83, 210);
    text-align: right;
    @include m {
      font-size: 5rem;
      margin-top: 5rem;
      line-height: 85%;
    }
    @include l {
      font-size: 6rem;
    }
  }
  p {
    margin-top: 2rem;
    @include m {
      margin-top: 5rem;
    }
    font-size: 2rem;
  }
}
