.details {
  //   background-color: black;
  margin-top: 6rem;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
  h3 {
    @include boxing;
    //  color: white;
  }

  //   &::after,
  //   &::before {
  //     content: "";
  //     display: block;
  //     position: absolute;
  //     top: 0;
  //     height: 100%;
  //     width: 50%;
  //     z-index: 50;
  //     background-color: black;
  //   }
  //   &::after {
  //     left: 100%;
  //   }
  //   &::before {
  //     right: 100%;
  //   }
}
