.homepage {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 200vh;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: calc(70vh);
  align-items: center;
  // max-width: 1200px;
}
