.items-slider {
  background-color: $black;
  color: white;
  font-size: 0.8rem;
  width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 1rem 0;
  position: relative;
  z-index: 2;
  @include m {
    font-size: 2rem;
    row-gap: 2rem;
    padding: 2rem 0;
  }
  @include l {
    row-gap: 5rem;
    padding: 5rem 0;
  }
  @include xl {
    font-size: 3rem;
  }
  &__bar {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    @include l {
      max-width: 90vw;
      column-gap: 4rem;
      &:nth-child(even) {
        justify-content: start;
      }
      &:nth-child(odd) {
        justify-content: end;
      }
    }
    @include xl {
      max-width: 80vw;
      column-gap: 6rem;
    }
  }
  .bar {
    &__item {
      display: flex;
      flex-direction: row;
      column-gap: 0.2rem;
      @include m {
        column-gap: 1rem;
      }
    }
  }
}
