@mixin s {
  @media only screen and (min-width: 520px) {
    @content;
  }
}

@mixin m {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin l {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

@mixin boxing {
  padding: 0 1rem;
  @include m {
    padding: 0 2rem;
  }
  @include xl {
    padding: 0 0;
    max-width: 1200px;
  }
}

$black: #000;
$white: #fff;
$blue: #2d53d2;
