@mixin s {
  @media only screen and (min-width: 520px) {
    @content;
  }
}

@mixin m {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin l {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

@mixin boxing {
  padding: 1rem;
  @include m {
    padding: 2rem;
  }
  @include l {
    padding: 8rem;
  }
  @include xl {
    padding: 0;
    max-width: 1200px;
  }
}
