@import "./SASS/mixins.scss";
@import "./SASS/fonts.scss";

@import "./SASS/header.scss";
@import "./SASS/hero.scss";
@import "./SASS/homepage.scss";
@import "./SASS/popUp.scss";
@import "./SASS/details.scss";
@import "./SASS/itemsSlider";
@import "./SASS/projectCard";
@import "./SASS/myProjects";
@import "./SASS/aboutMe";
@import "./SASS/contact";
@import "./SASS/languageSelector";
@import "./SASS/progressBar";
html.lenis {
  height: auto;
}
.lenis {
  &.lenis-smooth {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "League Spartan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  display: flex;
  justify-content: center;
}
#root {
  width: 100vw;
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
