@import "./SASS/mixins.scss";
@import "./SASS/fonts.scss";

@import "./SASS/header.scss";
@import "./SASS/aboutMe.scss";
@import "./SASS/homepage.scss";
@import "./SASS/textRotator.scss";
@import "./SASS/popUp.scss";
@import "./SASS/revealAnim.scss";
@import "./SASS/details.scss";
@import "./SASS/itemsSlider";

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "League Spartan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  display: flex;
  justify-content: center;
}
#root {
  width: 100vw;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
